name: flutter_date_range_picker
description: A Flutter package for all platform which provides a custom date picker
publish_to: 'none'
version: 1.0.0

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2

  intl: 0.17.0

  syncfusion_flutter_datepicker: 20.3.48

  pattern_formatter: 2.0.0

  flutter_svg: 1.1.0

  debounce_throttle: 2.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
